{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Create Flashcard
{% endblock %}

{% block head_block %}
 <link rel="stylesheet" href="{% static '/materials/flashcard.css' %}" >
{% endblock %}

{% block body_block %}
<div class="container">
<div class="Flashcard">
<h1>Flashcard Creator</h1>

<div class="set">
<label for="module">Set Module:</label>
<select id="module" name="module">
{% for module in subscribed %}
<option value="{{ module.name }}">{{ module.name }}</option>
{% endfor %}
</select>
</div>

<div class="set">
<label for="title">Set Collection Title</label>
<input type="text" id="title" name="title">
</div>


<label id="question_label" for="question">Question</label>
<br/>
<div class="card">
<textarea id="question" name="question" placeholder="Question"></textarea>
</div>

<div id="buttons">
    <a href="#" class="button">Cancel</a>
    <div></div>
    <a href="#" class="button">Create Question</a>    
</div>


</div>
</div>
{% endblock %}