{% extends 'base.html' %}
{% load static %}
    {% block title_block %}
    Placeholder
    {% endblock %}
    {% block body_block %}
        <h1> {{ module_id }} Study materials</h1>
        <div class="materials-grid">
                {% for material in page_obj %}
                    <div class="material">
                        <h3>
                                {{ material.title}}: {{ material.material_type }}
                        </h3>
                    </div>
                {% endfor %}
        </div>
{% endblock %}