{% if starred %}
<div class="nav-label">
<h4><strong><u>Starred Modules:</u></strong></h4>
<ul>
    {% for module in starred %}
        {% if module == current_module %}
        <li><strong>
            {% if module.is_subscribed %}
                            <a href="{% url 'materials:browse_materials' module.module.id %}" class="nav-link">
                                {{ module.module.id }}: {{ module.module.name }}
                            </a>
                        {% else %}
                            <span class="nav-label">{{ module.module.id }}: {{ module.module.name }}</span>
                        {% endif %}</strong></li>
        {% else %}
        <li>
            {% if module.is_subscribed %}
                            <a href="{% url 'materials:browse_materials' module.module.id %}" class="nav-link">
                                {{ module.module.id }}: {{ module.module.name }}
                            </a>
                        {% else %}
                            <span class="nav-label">{{ module.module.id }}: {{ module.module.name }}</span>
                        {% endif %}</li>
        {% endif %}
    {% endfor %}
</ul>
</div>
{% endif %}
