body{
    margin:0;
}


.sidenav {
    background: #111827;
    color: #ffffff;
    padding: 32px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 230px;
    gap: 28px;
    position: fixed;
    top: 0;
    height: 100%;
}
.sidenav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
}

.sidenav .brand {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 3px;
}

.sidenav .brand-subtitle {
    color: #9ca3af;
    margin-top: 8px;
    font-size: 14px;
}

.sidenav h4{
    font-size: 20px;
}

.sidenav .nav-link {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    background: #1f2937;
    color: #e5e7eb;
    padding: 14px 0px;
    border-radius: 12px;
    transition: 0.2s ease;
    text-align: left;
}

.sidenav .nav-label {
    display: block;
    width: 100%;
    border: 1px solid transparent;
    background: #1f2937;
    color: #e5e7eb;
    padding: 14px 0px;
    border-radius: 12px;
    transition: 0.2s ease;
    text-align: left;
}

.sidenav .nav-link:hover,
.sidenav .nav-link.active {
    background: #6366f1;
    color: #ffffff;
}



.sidenav li{
    padding:0;
}

.sidenav .settings {
    display: block;
    width: 100%;
    font-size: 30px;
    text-decoration-color: #e5e7eb;
    border: 1px solid transparent;
    background: #818181;
    color: #e5e7eb;
    padding: 14px 0px;
    bottom: 0;
    border-radius: 12px;
    transition: 0.2s ease;
    text-align: center;
}

.sidenav .settings:hover,
.sidenav .settings.active {
    background: #51515151;
    color: #ffffff;
}

.shell {
    min-height: 100%;
    display: grid;
    grid-template-columns: 270px 1fr;
    gap: 0px;

}

.main {
    height: 100%;
}