<!DOCTYPE html>
{% load static %}
{% load materials_template_tags %}
{% load modules_template_tags %}

<html lang="en">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>TOSSR - 
            {% block title_block %}
            The Open Student Study Repository
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static '/themes/' %}{{ theme }}.css">
        <link rel="stylesheet" href="{% static '/base.css' %}" >
        {% block head_block %}
        {% endblock %}
    </head>
    <body>
        <div class="shell">
            <div class="main">
        {% block sidebar_block %}
        <div class="sidenav">
            <div class="brand">TOSSR</div>
            <div class="brand-subtitle">The Open Student Study Repository</div>
        <div class="nav-label">
            <h4><strong><u>Navigation:</u></strong></h4>
            <ul>
                <li><a href="{% url 'materials:my_resources' %}" class="nav-link">My Resources</a></li>
                <li><a href="{% url 'accounts:student_dashboard' %}" class="nav-link">My Profile</a></li>
                <li><a href="{% url 'modules:browse_modules' %}" class="nav-link">Find Modules</a></li>
            </ul>
        </div>
            {% get_starred_materials_list material %}
            {% get_starred_modules_list module %}
        <div class="nav-label">
            <h4><strong><u>Profile:</u></strong></h4>
            <ul>
                <li>Name: {{ user.get_full_name }}</li>
                <li>Degree: {{ student.degree.get_full_name }} </li>
                <li>Graduation Year: {{ student.graduation_year }}</li>
                <li><a href="{% url 'accounts:logout' %}" class="nav-link">Logout</a></li>
            </ul>
        </div>
        <div class="nav-label">
            <h4><strong><u>Bio:</u></strong></h4>
            {{ student.bio }}
        </div>
            <h3 ><a href="{% url 'accounts:settings' %}" class="settings">Settings</a></h3>
    </div>
    </div>
        {% endblock %}
        <div class="main">
            {% block body_block %}
            <h1>The Open Student Study Repository</h1>
            {% endblock %}
        </div>
    </div>
    </body>
</html>

