{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Settings
{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static '/accounts/css/settings.css' %}">
<link rel="stylesheet" href="{% static '/accounts/css/settings_page.css' %}">
{% endblock %}

{% block body_block %}
<div class="settings">
<div class="center-box">
<h2 class="settings-title"><b>Settings</b></h2>
<h3 class="settings-subtitle"><b>Accessibility</b></h3>
<ul>
    <li><label class="custom-check"><input type="checkbox" class="theme-check" value="light" {% if theme == "light" %}checked{% endif %}><span class="checkmark"></span></label><span class="text"><b>Light</b></span></li>
    <li><label class="custom-check"><input type="checkbox" class="theme-check" value="high-contrast" {% if theme == "high-contrast" %}checked{% endif %}><span class="checkmark"></span></label><span class="text"><b>High Contrast Mode</b></span></li>
    <li><label class="custom-check"><input type="checkbox" class="theme-check" value="colourblind" {% if theme == "colourblind" %}checked{% endif %}><span class="checkmark"></span></label><span class="text"><b>Colourblind Palette</b></span></li>
    <li><label class="custom-check"><input type="checkbox" class="theme-check" value="dark" {% if theme == "dark" %}checked{% endif %}><span class="checkmark"></span></label><span class="text"><b>Dark Mode</b></span></li>
</ul>
</div>
</div>
<script>
const checkboxes = document.querySelectorAll(".theme-check");

checkboxes.forEach(box => {
    box.addEventListener("change", () => {
        checkboxes.forEach(other => {
            if (other !== box) other.checked = false;

        theme = box.value;

        document.cookie = `theme=${theme}; path=/; max-age=${60*60*24}`;

        location.reload();
        });
    });
});
</script>
{% endblock %}