{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Settings
{% endblock %}

{% block head_block %}
<link rel="stylesheet" href="{% static 'accounts/css/settings.css' %}">
{% endblock %}

{% block body_block %}
<div class="settings-page">
    <div class="center-box">
        <h2 class="settings-title"><b>Settings</b></h2>
        <h3 class="settings-subtitle"><b>Accessibility</b></h3>
        <ul>
            <li>
                <label class="custom-check">
                    <input type="checkbox" class="theme-check" value="light" {% if theme == "light" %}checked{% endif %}>
                    <span class="checkmark"></span>
                </label>
                <span class="text"><b>Light</b></span>
            </li>
            <li>
                <label class="custom-check">
                    <input type="checkbox" class="theme-check" value="high-contrast" {% if theme == "high-contrast" %}checked{% endif %}>
                    <span class="checkmark"></span>
                </label>
                <span class="text"><b>High Contrast Mode</b></span>
            </li>
            <li>
                <label class="custom-check">
                    <input type="checkbox" class="theme-check" value="colourblind" {% if theme == "colourblind" %}checked{% endif %}>
                    <span class="checkmark"></span>
                </label>
                <span class="text"><b>Colourblind Palette</b></span>
            </li>
            <li>
                <label class="custom-check">
                    <input type="checkbox" class="theme-check" value="dark" {% if theme == "dark" %}checked{% endif %}>
                    <span class="checkmark"></span>
                </label>
                <span class="text"><b>Dark Mode</b></span>
            </li>
        </ul>
    </div>
</div>

<script src="{% static 'accounts/js/settings.js' %}" defer></script>
{% endblock %}