{% extends 'base.html' %}
{% load static %}

{% block title_block %}
Settings
{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static '/accounts/css/settings.css' %}">
{% endblock %}

{% block body_block %}
<div class="settings">
<div class="center-box">
<h2 style="font-size: 30px;"><b>Settings</b></h2>
<h3 style="font-size: 25px;"><b>Accessibility</b></h3>
<ul>
    <li><label class="custom-check"><input type="checkbox"><span class="checkmark"></span></label><span class="text"><b>High Contrast Mode</b></span></li>
    <li><label class="custom-check"><input type="checkbox"><span class="checkmark"></span></label><span class="text"><b>Colourblind Palette</b></span></li>
    <li><label class="custom-check"><input type="checkbox"><span class="checkmark"></span></label><span class="text"><b>Dark Mode</b></span></li>
</ul>
</div>
</div>
{% endblock %}