:root {
    --primary-color: #2563eb;
    --primary-hover: #1d4ed8;

    --bg-light: #f3f4f6;
    --bg-white: #ffffff;
    --text-dark: #1f2937;
    --text-muted: #4b5563;
    --border-color: #d1d5db;
    --bg-black: #111827;

    --shadow: 0 20px 40px rgba(0,0,0,0.08);
    --shadow-hover: 0 30px 60px rgba(0,0,0,0.12);

    --sidebar-labels: #1f2937;
    --settings-bg: #818181;
    --settings-hover: #313131;

    --card-text: #1f2937;
    --card-text-muted: #4b5563;
    --primary-button-text: #ffffff;

    /* Find Modules */
    --subscribe-button-bg: #ffb000;
    --subsribe-button-hover: #ff9900;

    --subscribed-button-bg: #00bfff;
    --subscribed-button-hover: #0099cc;

    --favourite-button-bg: #ffcc00;
    --favourite-button-hover: #e6b800;

    --favourited-button-bg: #ff6600;
    --favourited-button-hover: #e65c00;

    --modules-text: #1f2937;

    --button-text-light: #f3f4f6;
    --grey: #c1c1c1;
    --button-text-dark: #1f2937;
}